<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row" style="padding-top:0px; padding-bottom: 20px">
        <div class="col-md-6 dislay-logo" style="justify-content: flex-start">
            <a class="app-store" href="https://itunes.apple.com/us/app/momo-chuyen-nhan-tien/id918751511?mt=8" target="_blank"><img th:src="@{/img/logo_ios_download_icon.svg}" alt="momo-store" width="160"/></a>
            <a class="gg-play" href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_medium=mobileweb&amp;utm_source=mobile&amp;utm_campaign=m2n" target="_blank"><img th:src="@{/img/logo_chplay_download_icon.svg}" alt="momo-store" width="160"/></a>
        </div>
        <div class="col-md-6 dislay-logo" style="justify-content: flex-end;padding-right: 40px;">
            <img th:src="@{/img/phone.svg}" width="35"/> &nbsp;&nbsp; 1900 54 54 41 &nbsp;&nbsp;<img th:src="@{/img/email.svg}" width="35"/> &nbsp;&nbsp; hotro@momo.vn
        </div>
    </div>
</div>