<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login success</title>
    <script type="text/javascript" th:src="@{/js/success.js}"></script>
</head>
<body>
<div layout:fragment="content" class="container">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=415899608957234&autoLogAppEvents=1"></script>
    <div class="jumbotron">
        <div class="fb-login-button" data-width="250" data-size="large" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true" onlogin="login()"></div>
        <p>Welcome, ${userInfo.userName}</p>
    </div>
</div>
</body>
</html>